In [67]:
#ライブラリのインポート

import pandas as pd
import requests
from bs4 import BeautifulSoup

# 新弾のリストを読み込む。
new_bullet_df = pd.read_csv('new_bullet_data.csv')

#　requestsメソッドを使って、サイトからHTMLの情報を抽出する。
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTy1ZbSq5OAVbEqScDw_Uf_KfLKydg0uUWBaBEPK_DXaBPCHmwv4ru9MzZHHnVHVmRVvLvOlndJ2ZNZ/pubhtml?gid=159569114&amp;single=true&amp;widget=true&amp;headers=false&amp;gid=0&amp;range=A:F%22'
res = requests.get(url)

#　BeautifulSoup()の設定を行う。
soup = BeautifulSoup(res.text,'html.parser')

# 最新弾の情報を抽出する。
poke_new = soup.find('div',id ='1490875147')
#価格情報を抽出する。
price_data = poke_new.find_all('td',class_ = 's4')

#情報をリストに格納する。
card_price = []
for i in range(0,88):
    card_price.append(price_data[i].string)

In [87]:
import datetime
today = datetime.datetime.now()
today = today.strftime('%Y年%m月%d日')

card_price_df = pd.DataFrame(card_price)
card_price_df = df.rename(columns = {0:'A'})

In [92]:
today

'2021年01月25日'

In [75]:
new_bullet_df = pd.concat([new_bullet_df,card_price_df],axis = 1)
new_bullet_df.to_csv('new_bullet_data.csv',index = None)

In [77]:
card_price_df

   2021-01-26
0         500
1         300
2        1200
3        3700
4         600
..        ...
83         10
84         10
85         10
86         10
87       1000

[88 rows x 1 columns]

'2021年01月25日'